:root {
	--first-half-rotate: 0deg;
	--second-half-rotate: 0deg;
	--pie-dimension: 0;
}

.timer-container {
	padding: auto auto;
	position: relative;
}

.pie {
	position: absolute;
	width: var(--pie-dimension);
	height: calc(var(--pie-dimension)*2);
	overflow: hidden;
	left: 50%;
	top: 50%;
	-moz-transform-origin: left center;
	-ms-transform-origin: left center;
	-o-transform-origin: left center;
	-webkit-transform-origin: left center;
	transform-origin: left center;
}

.pie:BEFORE {
	content: "";
	position: absolute;
	width: var(--pie-dimension);
	height: calc(var(--pie-dimension)*2);
	left: calc(var(--pie-dimension)*(-1));
	border-radius: var(--pie-dimension) 0 0 var(--pie-dimension);
	-moz-transform-origin: right center;
	-ms-transform-origin: right center;
	-o-transform-origin: right center;
	-webkit-transform-origin: right center;
	transform-origin: right center;
}

.pie:BEFORE, .pie:nth-of-type(1):AFTER {
	background-color: blue;
}

.pie:nth-of-type(2):AFTER, .pie:nth-of-type(2):BEFORE {
	background-color: green;
}

.pie[data-start="0"] {
	transform: rotate(0deg);
}

.pie[data-start="180"] {
	transform: rotate(180deg);
}

.pie#first-half:BEFORE {
	transform: rotate(var(--first-half-rotate));
}

.pie#second-half:BEFORE {
	transform: rotate(var(--second-half-rotate));
}

.button {
	height: 20px;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	position: absolute;
}

.start-button {
	display: inline-block
}

.stop-button {
	top: 60px;
}