:root {
	--first-half-rotate: 0deg;
	--second-half-rotate: 0deg;

  }

.pie {
	position: absolute;
	width: 100px;
	height: 200px;
	overflow: hidden;
	left: 150px;
	-moz-transform-origin: left center;
	-ms-transform-origin: left center;
	-o-transform-origin: left center;
	-webkit-transform-origin: left center;
	transform-origin: left center;
}

.pie:BEFORE {
	content: "";
	position: absolute;
	width: 100px;
	height: 200px;
	left: -100px;
	border-radius: 100px 0 0 100px;
	-moz-transform-origin: right center;
	-ms-transform-origin: right center;
	-o-transform-origin: right center;
	-webkit-transform-origin: right center;
	transform-origin: right center;
}

.pie:BEFORE, .pie:nth-of-type(1):AFTER {
	background-color: blue;
}

.pie:nth-of-type(2):AFTER, .pie:nth-of-type(2):BEFORE {
	background-color: green;
}

.pie[data-start="0"] {
	/* -moz-transform: rotate(30deg); */
	/* Firefox */
	/* -ms-transform: rotate(30deg); */
	/* IE */
	/* -webkit-transform: rotate(30deg); */
	/* Safari and Chrome */
	/* -o-transform: rotate(30deg); */
	/* Opera */
	transform: rotate(0deg);
}

.pie[data-start="180"] {
	/* -moz-transform: rotate(180deg); */
	/* Firefox */
	/* -ms-transform: rotate(180deg); */
	/* IE */
	/* -webkit-transform: rotate(180deg); */
	/* Safari and Chrome */
	/* -o-transform: rotate(180deg); */
	/* Opera */
	transform: rotate(180deg);
}

.pie#first-half:BEFORE {
	/* -moz-transform: rotate(31deg); */
	/* Firefox */
	/* -ms-transform: rotate(31deg); */
	/* IE */
	/* -webkit-transform: rotate(31deg); */
	/* Safari and Chrome */
	/* -o-transform: rotate(31deg); */
	/* Opera */
	transform: rotate(var(--first-half-rotate));
}

.pie#second-half:BEFORE {
	/* -moz-transform: rotate(31deg); */
	/* Firefox */
	/* -ms-transform: rotate(31deg); */
	/* IE */
	/* -webkit-transform: rotate(31deg); */
	/* Safari and Chrome */
	/* -o-transform: rotate(31deg); */
	/* Opera */
	transform: rotate(var(--second-half-rotate));
}