:root {
	--first-half-rotate: 0deg;
	--second-half-rotate: 0deg;
	--pie-dimension: 0;
	--background-main: #FFFFFF;
	--text-main: rgba(92, 164, 169, 1);
	--input-background: rgba(155, 193, 188, 1);
	--switch-default: rgba(92, 164, 169, 1);
	--pie-color: rgba(65, 71, 112, 1);
	--pie-finished: rgba(244, 96, 54, 1);
}

/*-----------------------------------------------
*   General definitions
-----------------------------------------------*/

body {
	background-color: var(--background-main);
	font-family: 'Open Sans', sans-serif;
}

.pohmeedor__button {
	cursor: pointer;
	text-align: center;
	font-weight: 700;
}

.pohmeedor__button--simple {
	background: none;
	border: none;
	color: var(--text-main);
	margin: 12px 6px;
}

.pohmeedor__input {
	background-color: var(--background-main);
	border: none;
	border-bottom: 2px solid var(--text-main);
	color: var(--text-main);
	display: block;
	font-weight: 700;
	margin: auto;
	text-align: center;
	width: 80%;
}

.pohmeedor__input::placeholder {
	color: var(--text-main);
	opacity: 0.5;
}

.color-switch {
	position: absolute;
	z-index: 1;
	right: 10px;
}

.pohmeedor__section {
	height: max-content;
	margin: auto auto;
	width: max-content;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.pohmeedor__box {
	border: 2px solid var(--text-main);
	color: var(--text-main);
	width: 100%;
	padding: 25px 10px;
}

.pohmeedor__box--title {
	text-align: center;
}

/*-----------------------------------------------
*   Timer options
-----------------------------------------------*/

.timer-options__upper-segment {
	border-radius: 25px 25px 0 0;
}

.timer-options__lower-segment {
	border-radius: 0 0 25px 25px;
	border-top: none;
}

.options-buttons {
	display: flex;
	justify-content: center;
}

.options-buttons__button {
	background-color: var(--background-main);
	border-radius: 50%;
	border: 2px solid var(--text-main);
	color: var(--text-main);
	height: 75px;
	margin: 5px;
	width: 75px;
}

.options-buttons__button--custom {
	display: flex;
	justify-content: center;
	position: relative;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.options-buttons__button--go {
	background-color: var(--background-main);
	bottom: 5px;
	border: none;
	color: var(--text-main);
	border-radius: 50%;
	position: absolute;
}

.timer-options__find-container {
	display: flex;
}

/*-----------------------------------------------
*   Timer
-----------------------------------------------*/

.timer-container {
	height: var(--pie-dimension);
	position: relative;
	display: none;
}

.pie {
	position: absolute;
	width: var(--pie-dimension);
	height: calc(var(--pie-dimension)*2);
	overflow: hidden;
	left: 50%;
	/* top: 50%; */
	-moz-transform-origin: left center;
	-ms-transform-origin: left center;
	-o-transform-origin: left center;
	-webkit-transform-origin: left center;
	transform-origin: left center;
}

.pie--first-half {
	padding: 10px 10px 10px 0;
}

.pie--second-half {
	padding: 10px 10px 10px 0;
}

.pie:BEFORE {
	content: "";
	position: absolute;
	width: var(--pie-dimension);
	height: calc(var(--pie-dimension)*2);
	left: calc(var(--pie-dimension)*(-1));
	border-radius: var(--pie-dimension) 0 0 var(--pie-dimension);
	-moz-transform-origin: right center;
	-ms-transform-origin: right center;
	-o-transform-origin: right center;
	-webkit-transform-origin: right center;
	transform-origin: right center;
	background-color: var(--pie-color);
}

.pie[data-start="0"] {
	transform: rotate(0deg);
}

.pie[data-start="180"] {
	transform: rotate(180deg);
}

.pie#first-half:BEFORE {
	transform: rotate(var(--first-half-rotate));
}

.pie#second-half:BEFORE {
	transform: rotate(var(--second-half-rotate));
}

.timer-complete-message {
	bottom: -10px;
	display: none;
	left: 0;
	margin: 0;
	right: 0;
	position: absolute;
	text-align: center;
	z-index: 1;
}

.timer-buttons {
	position: absolute;
}

/*-----------------------------------------------
*   Timer details
-----------------------------------------------*/

.timer-details {
	display: none;
	z-index: 2;
}

.timer-details__box {
	border-radius: 25px;
	background-color: var(--background-main);
}

.timer-details-box div {
	margin-top: 5px;
}

.timer-buttons__copy-button {
	margin: 0;
}

/*-----------------------------------------------
*   Timer received
-----------------------------------------------*/




/*-----------------------------------------------
*   Switch
-----------------------------------------------*/

.color-switch__checkbox {
	height: 0;
	width: 0;
	visibility: hidden;
}

.color-switch__label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: var(--switch-default);
	display: block;
	border-radius: 25px;
	position: relative;
}

.color-switch__label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 21px;
	height: 21px;
	background: #fff;
	border-radius: 21px;
	transition: 0.3s;
}

.color-switch__checkbox:checked+.color-switch__label:after {
	background: var(--background-main);
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.color-switch__label:active:after {
	width: 40px;
}

/*-----------------------------------------------
*   Theme colors
-----------------------------------------------*/

[data-theme="dark"] {
	--background-main: rgba(23, 17, 35, 1);
}